%p#notice= notice
%br/
.container.d-flex.justify-content-center
  #loginbox.mainbox.col-8{:style => "margin-top:50px;"}
    .panel.panel-info
      .panel-heading
        .panel-title Sign In
      .panel-body{:style => "padding-top:30px"}
        #login-alert.alert.alert-danger.col-sm-12{:style => "display:none"}
        = form_for :employee, class: "form-horizontal", id: "loginform" do |u|
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              = evil_icon 'ei-user', size: :s, class: "custom-class"
            = u.text_field :login_name, class: "form-control", id: "login-username", placeholder: "username"
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              = evil_icon 'ei-lock', size: :s, class: "custom-class"
            = u.password_field :password, class: 'form-control', id: 'login-password', placeholder: 'password'
          .form-group
            = u.submit "Login", class: "btn btn-primary"
%br/
%br/
