%p#notice= notice
.container
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th ID
        %th Name
        %th Email
        %th Phone Number
        %th#actions{:colspan => "1"} Actions
    %tbody
      - @owners.each do |owner|
        %tr
          %th{:scope => "row"}= owner.id
          %td= owner.name
          %td= owner.email
          %td= owner.phone
          %td= link_to 'Show', owner
  = paginate @owners
