<!DOCTYPE html>
<html>
  <head>
    <title>QStox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <%= evil_icons_sprite %>
  </head>

  <body>
    <%= render :partial => 'products/nav_bar' %>
    <%= yield %>
  </body>
</html>
